.balancer {
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $very_dark_cyan;
	border-radius: $normal-border-radius;
	padding: 1.5rem;
	width: 100%;
	.balancer__line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5rem;

		.person {
			font-size: 0.7rem;
			color: $primary;
		}
	}
}
