//colors

$primary: hsl(172, 67%, 45%);
$white: hsl(0, 0%, 100%);
$very_dark_cyan: hsl(183, 100%, 15%);
$dark_grayish_cyan: hsl(186, 14%, 43%);
$dark_grayish_cyan: hsl(184, 14%, 56%);
$grayish_cyan: hsl(185, 41%, 84%);
$light_grayish_cyan: hsl(189, 41%, 97%);

// pading and margin

$normal-padding: 1.5rem;
$small-padding: 0.7rem;
$extra-small-padding: 0.4rem;

//border
$small-border-radius: 3px;
$normal-border-radius: 10px;
$big-border-raduis: 16px;

//gap
$normal-gap: 30px;
